<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Hyaluronic Acid</string>
		<key>Image</key>
		<string>hyaluronic</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Niacinamide</string>
		<key>Image</key>
		<string>niacinamide</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AHA BHA PHA Peeling</string>
		<key>Image</key>
		<string>peeling</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>C-Riously 24K Gold</string>
		<key>Image</key>
		<string>vitc</string>
	</dict>
</array>
</plist>
